<?xml version="1.0" encoding="UTF-8"?>
<!-- When creating a bean using XML Config you must include this initial scripts -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "vehicle" class = "com.example.model.Vehicle">
        <property name = "name" value = "Ford Raptor"/>
    </bean>

</beans>